<script>
    $(document).ready(function () {
        var resizeTable = function setTableHeight() {
            $(".table-wrapper table").height($(".test-selection-wrapper").height() - 20);
        }

        resizeTable();

        $(window).resize(function () {
            resizeTable()
        });
    });
</script>



<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">Are you sure you want to cancel this request?</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<style>
    table .label {
        word-wrap: break-word;
        white-space: normal;
    }
</style>


<div st-table="rowCollection" style="height: 100%; overflow: auto"><!-- Sidebar -->
<div st-table="rowCollection" style="height: 100%; overflow: auto"><!-- Sidebar -->
    <div class="col-xs-2 sidebar hidden-md hidden-sm hidden-xs" style="position: fixed; height: 100%;">
        <div class="sidebar-content" style="margin-top: 15px;">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading ">
                    <span class="pull-right glyphicon glyphicon-filter"><i class=""></i></span>

                    <h3 class="panel-title">Filtering Options</h3>
                </div>
                <div class="panel-body fixed-panel">

                    <h5><span class="panel-header-margin">Dates Range</span></h5>

                    <st-Dates-Range-Filter startDate="dates.startDate" endDate="dates.endDate"></st-Dates-Range-Filter>

                    <h5><span class="panel-header-margin">Technology</span></h5>
                    <tag-search options="TechnologyOptions" st-tags-col-name="Technology"></tag-search>
                    <h5><span class="panel-header-margin">Program</span></h5>
                    <tag-search options="ProgramOptions" st-tags-col-name="Program"></tag-search>
                    <h5><span class="panel-header-margin">CycleType</span></h5>
                    <tag-search options="CycleTypeOptions" st-tags-col-name="CycleType"></tag-search>
                    <h5><span class="panel-header-margin">Status</span></h5>
                    <tag-search options="StatusOptions" st-tags-col-name="Status"></tag-search>
                    <h5><span class="panel-header-margin">Verdict</span></h5>
                    <tag-search options="VerdictOptions" st-tags-col-name="Verdict"></tag-search>

                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->
    <!-- Pills and search -->

    <div class="col-xs-10 right-container" style="z-index: 30;padding-right: 0px; padding-left: 0px; padding-right: 0;">
        <div class="right-scrollable-container">
            <div class="row-fluid right-header" style="margin-left: 15px;">
                <div class="col-lg-3">

                    <form class="form-inline">
                        <div class="combobox-container">
                            <div class="input-group">
                                <span class="input-group-addon dropdown-toggle" data-dropdown="dropdown">Search</span>
                                <select class="combobox form-control" style="display: none;">
                                    <option value="" selected="selected">Type to search</option>
                                    <option value="AL">my last search 1</option>
                                    <option value="AK">my last search 2</option>
                                    <option value="AZ">my last search 3</option>
                                    <option value="AL">my last search 4</option>
                                    <option value="AK">my last search 5</option>
                                </select>

                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('.combobox').combobox();
                                    });
                                </script>

                            </div>
                        </div>
                    </form>


                    <!--<div class="input-group">-->
                    <!--<span class="input-group-addon" id="basic-addon1"><span-->
                    <!--class="glyphicon glyphicon-search"></span></span>-->
                    <!--<input type="text" class="form-control" placeholder={{searchPlaceholder}}-->
                    <!--aria-describedby="basic-addon1" st-search={{searchByType}}-->
                    <!--class="input-sm form-control" type="search">-->

                    <!--&lt;!&ndash;<div class="input-group-btn">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle"&ndash;&gt;-->
                    <!--&lt;!&ndash;type="button"><span class="caret"></span></button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="dropdown-menu" role="menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href ng-click="applyLastSearch()"> my last search</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href ng-click="applyLastSearch()">my last search2</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href ng-click="applyLastSearch()">my last search3</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href ng-click="globalSearch()">Search</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<button type="button" class="btn btn-primary" ng-model="Refresh" btn-checkbox&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;btn-checkbox-true="1" btn-checkbox-false="0">Refresh&nbsp;</button>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <div class="btn-group">
                        <button type="button" ng-disabled="QueueButtonOff" class="btn btn-default outline"
                                ng-model="Queue" ng-click="queue()">Queue
                        </button>
                        <button type="button" ng-disabled="RerunButtonOff" class="btn btn-default"
                                ng-model="Rerun">Rerun
                        </button>

                        <button type="button" ng-disabled="ReportButtonOff" class="btn btn-default"
                                ng-model="Report">Report
                        </button>
                        <button type="button" ng-disabled="ExecutionButtonOff" class="btn btn-default"
                                ng-model="Execution">Local Execution
                        </button>
                        <button type="button" ng-disabled="CancelButtonOff" class="btn btn-default"
                                ng-model="Cancel" ng-click="cancel()">Cancel Request
                        </button>

                        <button type="button" ng-disabled="RerunButtonOff" class="btn btn-default"
                                ng-model="Rerun">Remote Control
                        </button>

                    </div>
                </div>
                <div class="col-lg-3" style="  position: relative;">
                    <ul class="pagination bootpag" style="float: right; margin-right: 30px;">
                        <li data-lp="1" class="prev disabled"><a href="javascript:void(0);">«</a></li>
                        <li data-lp="1" class="active"><a href="javascript:void(0);">1</a></li>
                        <li data-lp="2"><a href="javascript:void(0);">2</a></li>
                        <li data-lp="3"><a href="javascript:void(0);">3</a></li>
                        <li data-lp="4"><a href="javascript:void(0);">4</a></li>
                        <li data-lp="5"><a href="javascript:void(0);">5</a></li>
                        <li data-lp="2" class="next"><a href="javascript:void(0);">»</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="test-selection-wrapper" style="position: relative">
                <div class="row-fluid test-selection-content">
                    <div class="container-fluid">
                        <div class="table-wrapper" style="position: relative">
                            <div class="row-fluid">
                                <div class="col-lg-12">
                                    <div id="monitor-table"><table class="table table-hover table-condensed table-striped" style="table-layout: fixed">
                                        <thead>

                                        <!--<div class="search-group">-->
                                        <!--<tr>-->
                                        <!--<th colspan="1"><input st-search="Name" placeholder="Name search" class="input-sm form-control" type="search"/></th>-->
                                        <!--&lt;!&ndash;<th colspan="1"><input st-search="Technology" placeholder="tech. search" class="input-sm form-control" type="search"/></th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th colspan="1"><input st-search="Program" placeholder="prog. search" class="input-sm form-control" type="search"/></th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th colspan="1"><input st-search="CycleType" placeholder="cycle type search" class="input-sm form-control" type="search"/></th>&ndash;&gt;-->
                                        <!--<th colspan="1"><input st-search="Owner" placeholder="Owner search" class="input-sm form-control" type="search"/></th>-->
                                        <!--<th colspan="1"><input st-search="CreatedTime" placeholder="Created Time Search" class="input-sm form-control" type="search"/></th>-->
                                        <!--&lt;!&ndash;<th colspan="1"><input st-search="Status" placeholder="st. search" class="input-sm form-control" type="search"/></th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th colspan="1"><input st-search="Verdict" placeholder="ve. search" class="input-sm form-control" type="search"/></th>&ndash;&gt;-->
                                        <!--</tr>-->
                                        <!--</div>-->

                                        <!--<tr  ng-class="{pointer: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">-->
                                        <!--<th><input type="checkbox" ng-click="selectAll()"></th>-->
                                        <!--ng-checked="isSelectedAll()"-->

                                        <tr ng-class="{pointer: hover}" ng-mouseenter="hover = true"
                                            ng-mouseleave="hover = false">
                                            <th st-sort="Name">Name</th>
                                            <th st-sort="Technology">Technology</th>
                                            <th st-sort="Program">Program</th>
                                            <th st-sort="CycleType">CycleType</th>
                                            <th st-sort="TestBed">TestBed</th>
                                            <th st-sort="Owner">Owner</th>
                                            <th id=createdTimeTr st-sort="CreatedTime">CreatedTime</th>
                                            <th st-sort="Status">Status</th>
                                            <th st-sort="Verdict">Verdict</th>
                                        </tr>


                                        </thead>
                                        <tbody>
                                        <!--ng-class="getSelectedClass(row.id)-->
                                        <tr st-select-row="row" st-select-mode="multiple"
                                            ng-repeat="row in rowCollection" ng-init="$last && sortByTime()"
                                            ng-class="{pointer: hover}" ng-mouseenter="hover = true"
                                            ng-mouseleave="hover = false">

                                            <!--<tr ng-class="{pointer: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">-->
                                            <!--{pointer: hover};-->
                                            <!--resize-vertical-->
                                            <!--<td> <input type="checkbox" name="selected" ng-checked="isSelected(row.id)" ng-click="updateSelection($event, row.id)"></td>-->
                                            <td>{{row.Name | uppercase}}</td>
                                            <td>{{row.Technology | uppercase}}</td>
                                            <td>{{row.Program | uppercase}}</td>
                                            <td>{{row.CycleType | uppercase}}</td>
                                            <!--<td>{{row.TestBed | uppercase}}</td>-->
                                            <td>
                                                <div><span id="searchItem" rel="popover"> {{row.TestBed | uppercase}}
                                                    <a id="popoverData" class="btn" href="#" data-content="Popover with data-trigger"
                                                       rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover"></a></span></div></td>
                                            <script>
                                                $(document).ready(function() {
                                                    $("#searchItem").popover({
                                                        trigger: "hover",
                                                        html: true,
                                                        animation: true,
                                                        content: "ip: 127.0.0.1",
                                                        placement: "bottom"
                                                    });
                                                });
                                            </script>
                                            <td>{{row.Owner | uppercase}}</td>
                                            <td>{{row.CreatedTime | uppercase}}</td>
                                            <td><span
                                                    ng-class="colorStatus(row.Verdict)">{{row.Status | uppercase}}</span>
                                            </td>
                                            <td><span
                                                    ng-class="colorVerdict(row.Verdict)">{{row.Verdict | uppercase}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="col-lg-2">-->
<!--&lt;!&ndash;<div collapse="isCollapsedStatistics">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="pull-right glyphicon glyphicon-stats"><i class=""></i></span>&ndash;&gt;-->

<!--&lt;!&ndash;<h3 class="panel-title">Statistics</h3>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="charts">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row-fluid" style="margin: 0; padding: 0;">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="col-lg-6" style="margin: 0; padding: 0;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div class="completed-chart" style="height: 160px">&ndash;&gt;-->
<!--&lt;!&ndash;<pie-chart options="options2" data="completed"></pie-chart>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="col-lg-6" style="margin: 0; padding: 0;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div class="succeed-chart" style="height:160px">&ndash;&gt;-->
<!--&lt;!&ndash;<pie-chart options="options1" data="failed"></pie-chart>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div collapse="isCollapsedFiltering">&ndash;&gt;-->


<!--</div>-->
<!--<div class="col-lg-10">-->


<!--&lt;!&ndash;<div class="col-lg-2"></div>&ndash;&gt;-->


<!--&lt;!&ndash;<div class="filter-sidebar col-lg-2">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; Default panel contents &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="panel-heading">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<span class="pull-right glyphicon glyphicon-stats"><i class=""></i></span>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<h3 class="panel-title">statistics</h3>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="panel-body">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="users">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<h4 style="text-align: center"><span class="glyphicon glyphicon-user"></span> 78 Connected&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</h4>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="charts">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="row-fluid" style="margin: 0; padding: 0;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="col-lg-6" style="margin: 0; padding: 0;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="completed-chart" style="height: 115px">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<pie-chart options="options" data="completed"></pie-chart>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="col-lg-6" style="margin: 0; padding: 0;">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div class="succeed-chart" style="height:115px">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<pie-chart options="options" data="succeed"></pie-chart>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<div class="row-fluid">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash; &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<!--<div class="col-lg-2">-->
<!--<div class="charts" style="-->
<!--width: 200px;-->
<!--height: 100px;-->
<!--position: fixed;-->
<!--top: 19%;-->
<!--right: 18%;">-->
<!--<div class="users" style="position: absolute;top: -60%;left: 25%;">-->
<!--<h5><span class="glyphicon glyphicon-user"></span> 78 Connected</h5>-->
<!--</div>-->
<!--<pie-chart options="options" data="completed"></pie-chart>-->
<!--<pie-chart options="options" data="succeed"></pie-chart>-->
<!--</div>-->
<!--</div>-->


